/* Main page rule */
:root {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color:rgb(240, 240, 240) ;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* logo & img rules */
.head_page {
    display: inline-block;
    background-color: white;
    width: 100%;
}
.logo_title, img {
    display: inline;
    line-height: 20px;
    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 1% ;
    padding-left: 1%;
}

/* buttons rule */
.btn {
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    font-size: small;
    font-weight: bold;
    padding: 5px;
}

button[name="section"] {
    color:lightgray;
}
button[name="task"] {
    background-color: rgb(56, 172, 250);
    color: white;
    border: 0px;
}
/* main container rules */
.main_container{
    box-sizing: content-box;
    background-color: white;
    border-radius: 10px;
    margin: 5% 10% 5%;
    width: 80%;
}
.top{
    border-bottom: 2px solid rgb(240, 240, 240) ;
    padding: 2% 2% 2% 5%;
}
.down{
    padding: 2% ;
}
ul{
    list-style: none;
}
li{
    margin-top: 15px;
}
.markx:before{
    content:"\2717" ;
    color: rgb(255, 36, 36);
    border-radius: 100%;
    border: 1px solid rgb(255, 36, 36);
    padding: 5px;
}
.markv::before{
    content: "\2713";
    color: rgb(25, 156, 25);
    border-radius: 100%;
    border: 1px solid green;
    padding: 5px;
}
/* labels settings */
.label{
    border-radius: 8px;
    background-color: grey;
    font-size: xx-small;
    font-weight: bold;
    color: white;
    padding: 6px;
}
span[name="azure"] {
    background-color: rgb(56, 172, 250);
}
span[name="purple"] {
    background-color: rgb(124, 50, 194);
}
span[name="green"]{
    background-color: rgb(52, 197, 100)
}
span[name="orange"]{
    background-color: rgb(224, 121, 61);
}
span[name="pink"]{
    background-color: rgb(221, 96, 200);
}
span[name="gold"]{
    background-color: rgb(103, 167, 0);
}