/* Stile principale della pagina */

:root{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
}

/* Stile logo */

.logo_block {
    line-height: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 5px;
    text-align: start;
}
#logo_text {
    font-size: xx-large;
    font-weight: bolder;
    vertical-align: 15px;
}

/* Main style */

p {
   margin-top: 5px; 
}
h4 {
    margin-bottom: 10px;
}
.main_container {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    max-height: fit-content;
    margin:5% 10% 5%;
}
.section_top{
    border-bottom: 2px solid rgb(216, 216, 216);
    padding:2% 4%;
}
.section_main{
    padding-left: 5%;
    padding-bottom: 2%;
}
.task_title {
    font-size: larger;
    margin-bottom: 10px;
}
.task1{
    background-color: rgb(59, 186, 224);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    color: white;
}
.task2{
    font-weight: bold;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    color: rgb(216, 216, 216);
}
.task_name {
    font-weight: 400;
    line-height: 15px;
}
/* icons setting */

#markupv::after {
    font-size: 10px;
    content: "\2713" ;
    color: rgb(0, 126, 0) ;
    border-radius: 100%;
    border: solid 1px rgb(0, 126, 0);
    padding: 2px;
}
#markupx::after {
    font-size: 10px;
    content: "\2717";
    color: rgb(196, 5, 5);
    border-radius: 100%;
    border: solid 1px red;
    padding: 2px;
}
#caret::after {
    font-size: 10px;
    content: "\25BC";
    color: rgb(0, 0, 0);
}
/* labels color settings */

.green {
    background-color: rgb(0, 160, 0);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    margin-left: 10px;
}
.purple {
    background-color: rgb(131, 78, 161);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    margin-left: 10px;
}
.orange {
    background-color: rgb(202, 138, 20);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    margin-left: 10px;
}
.hoingreen {
    background-color: rgba(187, 255, 0, 0.815);
        color: white;
        border-radius: 8px;
        padding: 5px;
        font-size: 10px;
        margin-left: 10px;
}
.pink {
    background-color: rgb(197, 40, 145);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    margin-left: 10px;
}
.azure {
    background-color: rgb(59, 186, 224);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    margin-left: 10px;
}